* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: grey;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}