* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    width: 100%;
}

.navbar {
    background-color: grey;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.pixel-space {
    height: 70px;
    width: 100%;
}