<!-- Inherits everything from base.html template. -->
{% extends "base.html" %}

<!-- Template structure requires body content to be placed here. -->
{% block content %}
    <!-- Link any stylesheets for the body -->
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
    </head>
    <body>
        <h1>Hi, {{ user.username }}!</h1>

        {% for post in posts %}
        <div>
            <p>
                {{ post.author.username }} says: <b>{{ post.body }}</b>
            </p>
        </div>
        {% endfor %}

    </body>
{% endblock %}
