<!-- Inherits everything from base.html template. -->
{% extends "base.html" %}

<!-- Link any stylesheets for the body -->
{% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='index_style.css') }}"
/>
{% endblock %}

<!-- Template structure requires body content to be placed here. -->
{% block content %}
<!-- Having page content in wrapper div helps for margins and formatting. -->
<div id="page_content">
  <!-- Takes in username and returns name. Uses Dummy data currently. -->
  <h1 class="index-title">Hi, {{ user.username }}!</h1>
  <div class="post_list">
    {% for post in posts %}
    <p class="posting">
      {{ post.author.username }} says: <b>{{ post.body }}</b>
    </p>
    {% endfor %}
  </div>
</div>

{% endblock %}
